{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<br/><br/>
    <h1>Inscription</h1>

    {{ form_errors(registrationForm) }}

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-12 col-lg-12 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email,{'attr':{'class':'form-control'}}) }}
        {{ form_row(registrationForm.lastname,{'attr':{'class':'form-control'}}) }}
        {{ form_row(registrationForm.firstname,{'attr':{'class':'form-control'}}) }}
        {{ form_row(registrationForm.address,{'attr':{'class':'form-control'}}) }}
        {{ form_row(registrationForm.zipcode,{'attr':{'class':'form-control'}}) }}
        {{ form_row(registrationForm.city,{'attr':{'class':'form-control'}}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password','attr':{'class':'form-control'}
        }) }}
        {{ form_row(registrationForm.ConsemtementRGPD) }}

        <button type="submit" class="btn btn-lg btn-primary">Enregistrer</button>
    {{ form_end(registrationForm) }}<br/>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
